body {
  font-family: Raleway, sans-serif;
}
.container {
  display: table;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.container .row {
  display: table-cell;
  vertical-align: middle;
}
.container .row .form-horizontal {
  margin-top: 20px;
}
.container .row .form-horizontal .form-control {
  margin-top: 0px;
  border: none;
  box-shadow: none;
  font-size: 18px;
}
.container .row .form-horizontal .alert {
  font-size: 18px;
  margin: 5px 5px;
}
.footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 10px;
}
