body
  font-family Raleway, sans-serif

.container
  display table
  height 100%
  position absolute
  overflow hidden
  width 100%
  .row
    display table-cell
    vertical-align middle
    .form-horizontal
      margin-top 20px
      .form-control
        margin-top 0px
        border none
        box-shadow none
        font-size 18px
      .alert
        font-size 18px
        margin 5px 5px

.footer
  position fixed
  bottom 10px
  left 10px
  font-size 10px

